* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #161719;

    color: #fff
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

 
  /* BASE */
  .no-scroll {
  overflow-y: hidden;
  }


  .container-wide {
    margin: 0 auto;
    max-width: 1790px;
    padding: 10px;
  }
  
  .container {
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row {
    display: flex;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .align-center {
    align-items: center;  
  }
  
  /* HEADER */
  
  .header {
    padding-top: 10px;
  }
  
  .nav {
    margin-bottom: 60px;
  }
  
  .logo {
    font-family: 'Literata', serif;
    font-weight: 700;
    font-size: 60px;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu {
    font-weight: 700;
    font-size: 18px;
  }
  
  .nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .nav-menu li + li {
    margin-left: 40px;
  }
  
  .nav-menu a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease in;
    padding-bottom: 5px;
  }
  
  .nav a:hover {
    color: #FBD784;
  }
  
  .nav-menu a::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FBD784;
    opacity: 0;
      transition: all 0.2s ease-in;
  } 
  
  .nav-menu a:hover::after {
    bottom: -3px;
    opacity: 1;
  }  
  
  .account {
    position: relative;
    padding-left: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease in;
  }
  
  .account:hover {
    color: #FBD784
  }
  
  .account::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    background-image: url('./../img/icons/account.svg');  
  }
  
  .nav-button {
    position: relative;
    z-index: 9;
    display: none;
    height: 25px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }

  .nav-button:focus,
  .nav-button:active {
    outline: none;
  }


  .nav-button-icon {  
    position: relative;
    display: block;
    width: 42px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    border: none;
  }

  .nav-button-icon::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top:-10px;
    width: 42px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;    
  }  

  .nav-button-icon::after  {
    position: absolute;
    left: 0;
    bottom:-10px;
    content: '';
    display: block;
    width: 42px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;    
  }  
  
  .nav-button-close .nav-button-icon {
    background-color: transparent;
  }

  .nav-button-close .nav-button-icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  .nav-button-close .nav-button-icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .mobile-nav {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 100%;
    padding: 70px 70px 50px 30px;
    background: rgba(28, 30, 31, 0.75);
  }

  .mobile-nav .nav-menu,
  .mobile-nav .account {
    display: block;
  }

  .mobile-nav .nav-menu ul{
    flex-direction: column;
  }


  .mobile-nav .nav-menu ul li{
    margin: 0;
    margin-bottom: 25px;
  }




  








  /* FOOTER */
  
  .footer {
    padding-bottom: 120px;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-copyright {
    display: flex;
    flex-direction: column;
  }
  
  .footer-copyright-logo {
    margin-bottom: 24px;
  }
  
  .footer-copyright-text {
    max-width: 303px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;  
  }
  
  .footer-copyright-copyright {
    margin-top: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;  
    opacity: 0.5;
  }
  
  .footer-nav-wrapper {
    display: flex;
  }
  
  .footer-nav + .footer-nav {
    margin-left: 212px;
  }
  
  .footer-nav {
    max-width: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78; 
    color: #fff;;  
  }
  
  .footer-nav-title {
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33; 
    color: #FBD784;;
  }
  
  .footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: -16px;
  }
  
  .footer-nav li {
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
  }
  
  .footer-nav li:last-child {
    margin-bottom: 0;
  }
  
  .footer-nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .footer-nav a::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in;
  } 
  
  .footer-nav a:hover::after {
    bottom: -3px;
    opacity: 1;
  }  
  
  /* Модальное окно аккаунта  */

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
  }

  .popup.open {
    opacity: 1;
    visibility: visible;
  }

  .popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 10px;

  }
  .popup_content {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    position: relative;
  }

  .popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #000;
    text-decoration: none;
  }

  .popup_title{
    color: #000;
    padding-top: 15px;
    font-size: 18px;
    margin: 0px 0px 1em 0px;
  }


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #FBD784;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form img {
  position: absolute;
  left: 310px;
  top: 15px;
  width: 40px;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #000;
  color: #fff;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #000;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

  
  
  
.contacts {

    margin-top: 130px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    

  font-family: 'Literata', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 2.4;
  color: #fff
}
  
  
  


.swipeSlider {
  display: flex;
    justify-content: space-between;
    align-items: center;
      margin-bottom: 150px;
      width: 100%;
      display: flex;
      padding: 0 50px;
  }
  
  .slide {
      height: 70vh;
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
      color: white;
      flex: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      transition: all 500ms ease-in-out;
  }
  
  .slide h3 {
      position: absolute;
      font-size: 38px;
      bottom: 20px;
      left: 20px;
      margin: 0;
      opacity: 0;
  }
  
  .slide.active {
      flex: 10;
  }
  
  .slide.active h3{
      opacity: 1;
      transition: opacity 0.2s ease-in 0.3s ;
  }
  
  
  
  
  